{% extends 'base.html' %}

{% block content %}

  <h2 style=" text-align:right; color:#003468;">نسيت الرقم السرى </h2><br>
<div style="float:right;">
  <form method="post">
    {% csrf_token %}
    <h3 style=" text-align:right;color:#003468;"><label for="id_email">البريد الالكترونى :</label>
    <br><input type="email"class="form-control" name="email" required="" id="id_email" maxlength="254"></h3><br>

    <button style="float:right;"class="btn btn-info"type="submit">تسجيل</button>
  </form>
</div>
{% endblock %}
