{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h2 style=" text-align:right; color:#003468;">تغيير كلمة السر</h2><br>
<div style="float:right;">
    <form method="post" novalidate>
      {% csrf_token %}
      
<h3 style=" text-align:right;color:#003468;">
<label for="id_new_password1"> الرقم السرى الجديد :</label> 
<input class="form-control" type="password" name="new_password1" id="id_new_password1" required=""> 
<span class="helptext"></span></h3>

<h3 style=" text-align:right;color:#003468;">
<label for="id_new_password2"> تأكيد الرقم السرى الجديد :</label> 
<input class="form-control" type="password" name="new_password2" id="id_new_password2" required="">
</h3>

{% if form.errors %}
    <br><p style="color: red; text-align:right;">من فضلك ادخل رقم سرى على الاقل يحتوى 8 احرف ويتكون من ارقام وحروف</p>
{% endif %}

      <br><button style="float:right;"class="btn btn-info" type="submit">تغيير كلمة السر</button>
    </form>
</div>
  {% else %}
<div style=" text-align:right; color:#003468;">
    <p>
      إن رابط إعادة تعيين كلمة المرور غير صالح ، ربما لأنه تم استخدامه بالفعل.
      يرجى طلب إعادة تعيين كلمة المرور الجديدة.
    </p>
</div>
  {% endif %}
{% endblock %}
